<h2><%= Spree.t(:plans) %></h2>
<br/>
<% @plans.each do |plan| %>
  <div style='float:left;padding:20px;border:solid'>
    <strong><%= plan.name %></strong><br/>
    <%= number_to_currency plan.amount %> every <%= plan.interval_count %> <%= plan.interval.pluralize(plan.interval_count) %><br/>
    <%= plan.trial_period_days %> <%= 'day'.pluralize(plan.trial_period_days) %> trial <br/>
    <br/>
    <% if spree_current_user %>
      <% if subscription = @user_subscriptions.find {|s| s.plan_id == plan.id } %>
        <%= button_link_to Spree.t(:unsubscribe), plan_subscription_url(plan, subscription), method: :delete, confirm: "Do you want to unsubscribe ?" %>
      <% else %>
        <% unless spree_current_user.subscription_plans.active.present? %>
          <%= button_link_to 'Subscribe', new_plan_subscription_url(plan) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
<br style='clear:both'/>
