<div data-hook="admin_recurring_form_fields">

  <div data-hook="recurring">

    <div class="alpha four columns">
      <div id="preference-settings" data-hook class="field">
        <%= label_tag nil, Spree.t(:provider) %>
        <%= select(:recurring, :type, Rails.application.config.spree.recurring_providers.collect {|pro| [pro.display_name, pro]}, {}, {disabled: !@recurring.new_record?, class: 'select2 fullwidth'}) %>

        <% unless @recurring.new_record? %>
          <%= preference_fields(@recurring, f) %>

          <% if @recurring.respond_to?(:preferences) %>
            <div id="gateway-settings-warning" class="info warning"><%= Spree.t(:provider_settings_warning) %></div>
          <% end %>
        <% end %>
      </div>      
      <div data-hook="active" class="field">
        <ul>
          <li>
            <%= label_tag :nil, Spree.t(:active) %>
            <%= check_box :recurring, :active %>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="omega eight columns">
      <div data-hook="name" class="field">
        <%= label_tag nil, Spree.t(:name) %>
        <%= text_field :recurring, :name, :class => 'fullwidth' %>
      </div>
      <div data-hook="description" class="field">
        <%= label_tag nil, Spree.t(:description) %>
        <%= text_area :recurring, :description, {:cols => 60, :rows => 6, :class => 'fullwidth'} %>
      </div>  
    </div>
    
  </div>
</div>

<div class="clear"></div>