<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:editing_recurring) %> <i class="icon-arrow-right"></i> <%= @recurring.name %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:back_to_recurrings_list), spree.admin_recurrings_path, :icon => 'icon-arrow-left' %>
  </li>  
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @recurring } %>

<%= form_for @recurring, :url => admin_recurring_path(@recurring) do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div data-hook="buttons" class="filter-actions actions">
      <% if @recurring.has_preferred_keys? %>
        <%= button_link_to Spree.t(:manage_plans), admin_recurring_plans_url(@recurring) %>
      <% end %>
      <%= button Spree.t('actions.update'), 'icon-refresh' %>
    </div>
  </fieldset>
<% end %>